

nav{
   display:flex;
   flex-direction: column;
   flex-basis: 256px;
    flex-grow: 0;
    flex-shrink:0;
   
}

.categories a{
    text-decoration: none;
    font-family: 'Dosis';
    text-align:center;
    text-transform: capitalize;
    margin: .4em .7em;
    background-color:#44b;
    color:azure;
    padding: 5px;
    
}

nav a:hover{
    box-shadow: 0 2px 5px -2px black;
}